// custom.scss

// Variables
$egg-blue: #a4c2d1;
$light-grey: #dbdcde;
$mid-blue: #1f7798;
$dark-blue: #184f63;

// Nesting
body {
  background-color: #a4c2d1;
}
header {
  .row {
    background: url("...") no-repeat 50% 85% / cover;
    min-height: 400px;
    padding: 4rem 0;
  }
}

.navbar {
  background-color: $light-grey !important;
}

#portfolio {
  .card-title {
    color: $mid-blue;
  }

  .btn-outline-secondary:hover {
    background-color: $mid-blue;
  }
}
.btn-primary {
  background-color: #1f7798;
  border: #1f7798;
  &:hover {
    background-color: #1d6d8a;
  }
}
#about,
footer {
  background-color: #ffff;
}
#portfolio {
  background-color: #dbdcde;
}
h1,
h2 {
  color: #184f63;
}
